body {
    background-color: hsla(240, 57%, 22%, 1);
    background-image:
        radial-gradient(at 12% 6%, hsla(225, 71%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 78%, hsla(189, 47%, 40%, 1) 0px, transparent 50%);
    height: 100vh;
}

.header__a {

    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;

}

.header__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}