body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header, .feel, .brown{
    background: #F8EDF0;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.btn {
    color: #FAFAFA;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #D23166;
    padding: 12px 50px;
}

@media (max-width: 900px) {}

.header {

    // .header__wraper

    &__wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 900px) {}
    }

    // .header__logo

    &__logo {}

    // .header__menu

    &__menu {
        display: flex;
        gap: 40px;

        @media (max-width: 700px) {
            display: none;
        }
    }

    // .header__link

    &__link {
        color: #150101;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.3s;
        &:hover{
            color: #D23166;
        }
    }

    // .header__btn

    &__btn {}

    &__burger {
        width: 50px;
        height: 50px;
        display: none;

        @media (max-width: 700px) {
            display: block;
        }

    }
}











.feel {

    // .feel__wrap

    &__wrap {
        display: flex;
        align-items: center;
        gap: 100px;

        @media (max-width: 700px) {
           flex-direction: column;
           text-align: center;
           padding-top: 60px;
        }
    }

    // .feel__box

    &__box {}

    // .feel__subtitle

    &__subtitle {
        color: #0F0101;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.4px;
    }

    // .feel__title

    &__title {
        color: #0F0101;
padding: 20px;
        font-size: 57.33px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.5%;
        /* 69.083px */

        span {
            color: #D23166;
        }
        @media (max-width: 900px) {
            line-height: 100%;
            font-size: 45px;
        }
        @media (max-width: 400px) {
            font-size: 38px;
        }

    }

    // .feel__text

    &__text {
        color: #0F0101;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        /* 150% */

        max-width: 530px;
        @media (max-width: 700px) {
           margin: 0 auto;
        }
 
    }

    // .feel__btn

    &__btn {}

    // .feel__img

    &__img {
        max-width: 300px;
        width: 100%;
    }
}





.free__wraper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    gap: 50px;
    
}

.free__wraper {
    background-color: white;
    text-align: center;
    
}
.wraper {
    background-color: white;
    
}
.free__title {
   
    margin: 15px 0;
}
.free__img{
    
}
.free__card {
    border-radius: 7px;
background: #FFF;
box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
padding: 20px

}

.free__text {
    color: gray;
}

.wrapper {
    display: flex;
    justify-content: center;
}


.brown__wrap {
margin: 100px;

}
.container {

}
.brown__title {

color: #150101;

font-size: 44.2px;
font-style: normal;
font-weight: 600;
line-height: 110.5%; /* 48.841px */
}
.brown__text {
color: gray;
}
.brown__btn {
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #D23166;
    padding: 15px 50px;
    margin-top: 25px;
}


.brown__info{
    width: 555px;
    margin-top: 50px;
    
}


.our {
background-color: white;
}
.container {

}
.our__title {
    color: #150101;
    text-align: center;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 25px;
    
}
.our__wraper {
display: flex;
justify-content: space-between;
margin: 100px;
}
.our__text {

}
.brown__logo {
  
}
.brown__box {
  display: flex;
  justify-content: center;
  align-items: center;

}

.brown__text {
    color: #000;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.brown__desc{
    font-size: 16px;
    padding: 30px 0;
}

.gg{
    display: flex;
    align-items: center;
    gap: 5px;
}
.brown__box-box {
    
}
.brown__wrap{
    
}
.brown__box {
    display: flex;
    gap: 15px;
}
.feel__icon {
    width: 30px;
height: 30px;
}
.feel__imran {
    display: flex;
    align-items: center;
    gap: 20px;
}
.feel {
    
}
.have {
}
.container {
}
.have__wrap {
    color: #000;
text-align: center;

font-size: 44px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 100px 0;
}
.have__title {
}
.ss {
}
.have__box {
}

.have_twise{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.have_twise input {
    width: 637px;
    height: 74px;
    border-radius: 5px;
background: #FAFAFA;
outline: none;
padding-left: 20px;
}

.have_twise button{
    width: 134px;
    height: 74px;
}

.home__wrap {
    display: flex;
    
}
.home__wrap {
}
.home__logo {
}
.abdu {
    color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.abdu__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.abdu__text {
}
.home {
    background: #0A0808;
    
}
.home__text {
    color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 139.687%; /* 16.762px */
letter-spacing: 0.12px;
}
.imran {
    display: flex;
    gap: 10px;
}

footer{
    width: 100%;
    height: max-content;
    padding: 30px 0;
    background: #0A0808;
}

.footer__wrapper {
   
} 
.container {
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;

}
.footer__box {
}
.footer__logo {
}
.footer__text {
    color: #FFF;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 139.687%; /* 16.762px */
letter-spacing: 0.12px;
}
.footer__title {
    color: #FFF;
;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.imran {
}
.footer__img {
}
.abdu {
    display: flex;
    gap: 10px;
}
.footer__twise {
    display: flex;

margin: 20px 0;
}
.footer__input {
    border-radius: 5px;
border: 2px solid #D64374;
opacity: 0.5;
outline: none;
background: transparent;
width: 300px;
height: 55px;
color: #fff;
padding-left: 20px;
}

.footer__text {
    padding: 10px 0;
}
.footer__title {
    padding: 5px 0;
}
.footer__btn {
    height: 55px;
}